<nav class="navbar navbar-expand-lg navbar-light" style="font-size: 16px; background-color: white; box-shadow: 0 4px 2px -2px lightgray;">
  <a class="navbar-brand" style="padding-left: 25px;" routerLink="/dashboard/main">
    <img src="assets/images/envelo_logo.png" width="50" alt="logo Envelo" class="header__logo-img" /></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/summary">Podsumowanie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/freedays">Ustawienie dni wolnych</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/declarations">Deklaracja pracowników</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/settings">Ustawienia</a>
      </li>
        <a class="nav-link" routerLink="/login">Wyloguj</a>
    </ul>

  </div>
</nav>
