<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="padding-left: 25px;" routerLink="/dashboard/main">ELO</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/summary">Podsumowanie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/freedays">Ustawienie dni wolnych</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/declarations">Deklaracja pracowników</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/settings">Ustawienia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>
