<img src="../../assets/images/envelo_logo.png" alt="Logo" />

<div class="containerr">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <input
      formControlName="username"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Nazwa użytkownika"
    />

    <input
      formControlName="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Hasło"
    />

    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">
      Login
    </button>
  </form>

  <p>
    Dane do logowania:<br />
    username: jacek.kowalski<br />
    password: test111
  </p>
</div>
