<div class="modal-header">
  <h4 class="modal-title">{{ date }}</h4>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <select formControlName="select" class="form-select">
        <option [ngValue]="null">Wybierz rodzaj pracy</option>
        <option value="REMOTE">Zdalnie</option>
        <option value="OFFICE">Stacjonarnie</option>
        <option value="ABSENT">Nieobecny</option>
      </select>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        [disabled]="!form.valid"
        class="btn btn-outline-dark"
        (click)="close()"
      >
        Zapisz
      </button>
    </div>
  </form>
</div>
