<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6" style="text-align: center; padding-top: 20px;">
      <h3>
        Ustaw domyślne dni zdalne i stacjonarne
      </h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Dzień tygodnia</th>
            <th style="text-align: center" class="col">Praca zdalna/Praca stacjonarna</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Poniedzialek<br />
              <br>
              Wtorek<br />
              <br>
              Środa<br />
              <br>
              Czwartek<br />
              <br>
              Piatek<br />
            </td>
            <td>
              <form [formGroup]="form">
                <div class="form-check form-switch">
                  <input
                    formControlName="monday"
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckDefault"
                  />
                </div>
                <br>
                <div class="form-check form-switch">
                  <input
                    formControlName="tuesday"
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckDefault"
                  />
                </div>
                <br>
                <div class="form-check form-switch">
                  <input
                    formControlName="wednesday"
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckDefault"
                  />
                </div>
                <br>
                <div class="form-check form-switch">
                  <input
                    formControlName="thursday"
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckDefault"
                  />
                </div>
                <br>
                <div class="form-check form-switch">
                  <input
                    formControlName="friday"
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckDefault"
                  />
                </div>
              </form>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-danger" (click)="sendDefaultDeclarations()">Send</button>
    </div>
    <div class="col"></div>
  </div>
</div>
