<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6" style="padding-top: 40px">
      <h3 style="text-align: center; padding-bottom: 20px">Ustaw domyślne dni zdalne i stacjonarne</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Dzień tygodnia</th>
          <th scope="col">Praca zdalna/Praca stacjonarna</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let summary of daysOfWeek; index as i">
          <td>
            {{ summary.day }}
          </td>
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input" [formGroup]="form" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
    </div>
  </div>
</div>

